*{
    box-sizing: border-box;
}
.button {
    border-radius: 12px;
    background-color: #3b5998;
    border: none;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: 4px 2px;
    padding: 20px;
    color: #ffffff;
    cursor: pointer;
}
.button:hover {
    background-color: #29487d;
}
.button:active{
    background-color: #29487d;
    transform: translateY(4px);
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #3b5998;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-size: larger;
  }